/* MONTSERRAT FONT */
@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/Montserrat-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}