.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623);
}
  
.modal_content {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
}
  
.close {
    font-size: 20px;
    color: white;
    float: right;
}
  
.close:hover {
    color: white;
    cursor: pointer;
}

#_form_51_submit {
    width: 100%;
    padding: 20px 40px;
    background-color: var(--primary);
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-weight: 800 !important;
    font-size: 1.3em;
}

.inputFormActive {
    border-color: #D257C4 !important;
    border-width: 1px 1px 1px 1px !important;
    border-radius: 6px 6px 6px 6px !important;
}