@media (max-width: 1639px) {
    #section1 {
        background-position: top 0px center;
    }
    #section4_1 {
        background-position: top 0 center;
    }
    #section4_2 {
        background-position: top 0 center;
    }
}

@media (max-width: 920px) {
    #rowSection1 {
        padding-top: 58%;
    }
    #rowSection4_1 {
        padding-top: 55%;
    }
    #rowSection4_2 {
        padding-top: 46%;
    }
    #section1 {
        background-image: url('../assets/background_mobile_section1.webp');
        background-position: top 0px center;
    }
    #section4_1 {
        background-image: url('../assets/background_section4_1.webp');
        background-position: top -52px center;
    }
    #section4_2 {
        background-image: url('../assets/background_section4_2.webp');
        background-position: top -52px center;
    }
    .showDesktop {
        display: none;
    }
    .colListaProfissoes {
        display: block;
    }
    .colCardListaProfissoes {
        min-width: unset !important;
    }
    .colJulianaDesktop {
        margin-top: unset;
    }
    .colClaudiaDesktop {
        margin-top: unset;
        margin-bottom: unset;
    }
    .alignTextClaudia {
        text-align: center;
    }
    .alignTextJuliana {
        text-align: center;
    }
    .lh-1-5 {
        line-height: normal;
    }
}
@media (max-width: 768px) {
    .textGiant {
        font-size: 2.2em;
    }
    .textLarge {
        font-size: 1.7em;
    }
    .textBigger {
        font-size: 1.3em;
    }
    .textNormal {
        font-size: 1.2em;
    }
    .textSmall {
        font-size: 1.1em;
    }
    .textExtraSmall {
        font-size: 1em;
    }
    .btnParticiparInicial {
        font-size: 1.5em !important;   
    }
    .textTituloModal {
        font-size: 1.5em;
    }
    .btnParticiparInicial {
        font-size: 1em !important;
    }
    .textCardIcons {
        font-size: 0.8em;
    }
    .cardIcons {
        width: 50% !important;
    }
}

@media (max-width: 600px) {
    .cardIcons {
        width: 25% !important;
    }
    .marginCardDesktop {
        margin-left: 0px;
        margin-right: 0px;
    }
    #section4_1 {
        background-position: top 0px center;
    }
    #section4_2 {
        background-position: top -20px center;
    }
    .removeMbMobile {
        margin-bottom: 0% !important;
    }
    .hideMobile {
        display: none;
    }
    .marginTopSecao5Mobile {
        margin-top: 0% !important;
    }
    .textGiant {
        font-size: 2em;
    }
    .textLarge {
        font-size: 1.5em;
    }
    .textBigger {
        font-size: 1.1em;
    }
    .textNormal {
        font-size: 1em;
    }
    .textSmall {
        font-size: 0.9em;
    }
    .textExtraSmall {
        font-size: 0.8em;
    }
    .btnParticiparInicial {
        font-size: 1.5em !important;   
    }
    .textTituloModal {
        font-size: 1.5em;
    }
    .btnParticiparInicial {
        font-size: 1em !important;
    }
    .modal_content {
        
        top: 5%;
        left: unset;
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 400px) {
    #btnParticipar {
        font-size: 1.5em;
    }
}