/* VARIABLES */
:root {
    --primary: #D257C4;
    --greenParticipar: #00CF1C;
}

* {
    font-family: montserrat, sans-serif;
    overflow-x: hidden;
    word-wrap: break-word;
}

/* DEFAULT */
.font-weight-bold {
    font-weight: 600 !important;
}

.font-weight-bolder {
    font-weight: 700 !important;
}

.font-weight-strong {
    font-weight: 800 !important;
}

.font-weight-light {
    font-weight: 400 !important;
}

.text-white {
    color: white
}

.purpleIcons {
    color: var(--primary);
}

.cardOutlineRoxo {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #D257C4;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 0px 0px 10px 0px #D257C4;
}

.cardIcons {
    width: 30% !important;
}

.lh-1-5 {
    line-height: 70px;
}

/* IDS */
#section1 {
    background-image: url('../assets/background_desktop_section1.webp');
    background-position: bottom -120px center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section2 {
    background-image: url('../assets/background_2.webp');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section4_1 {
    background-image: url('../assets/background_section4_1_dktp.webp');
    background-position: top -275px center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section4_2 {
    background-image: url('../assets/background_section4_2_dktp.webp');
    background-position: top -310px center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section3e5 {
    background-image: url('../assets/background_section_6.webp');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

#textDataSection6 {
    color: white
}

#btnParticipar {
    padding: 20px 40px;
    background-color: var(--greenParticipar);
    border-radius: 11px 11px 11px 11px;
    color: white;
    font-weight: 800 !important;
    font-size: 2.2em;
}

#rowSection1 {
    padding-top: 0%;
}

#rowSection4_1 {
    padding-top: 0%;
}

#rowSection4_2 {
    padding-top: 0%;
}

/* RESPONSIVIDADE */
.showDesktop {
    display: block;
}

.justifyEndDesktop {
    text-align: end;
}

.marginSection1Desktop {
    margin-top: 16%;
}

.marginCardDesktop {
    margin-left: 15px;
    margin-right: 15px;
}

.colListaProfissoes {
    display: flex;
    justify-content: start;
    /* margin-left: 4%; */
}

.colCardListaProfissoes {
    min-width: 400px !important;
}

.textGiant {
    font-family: "Helvetica", Sans-serif !important;
    font-size: 3.5em;
}

.textLarge {
    font-family: "Helvetica", Sans-serif !important;
    font-size: 3.2em;
}

.textBigger {
    font-size: 1.5em;
}

.textNormal {
    font-size: 1.3em;
}

.textCardIcons {
    font-size: 1.2em;
}

.textSmall {
    font-size: 1.18em;
}

.textExtraSmall {
    font-size: 1.13em;
}

.textTituloModal {
    font-size: 2.4em;
}

.colJulianaDesktop {
    margin-top: 1% !important;
}

.colClaudiaDesktop {
    margin-top: 3% !important;
    margin-bottom: 4%;
}

.alignTextClaudia {
    text-align: right;
}

.alignTextJuliana {
    text-align: left;
}

.logoSectionFinal {
    width: 80% !important;
}

.btnParticiparInicial {
    font-size: 1.9em !important;
}

#btnParticipar {
    box-shadow: 0px 0px 0px 0px;
    background: linear-gradient(270deg, #1deb49, #008c1e, #008c1e, #1deb49, #008c1e );
    background-size: 400% 400%;
    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
}

@keyframes Animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}