/*! CSS Used from: ../css/style.css */
:root{--primary:#D257C4;--greenParticipar:#00CF1C;}
*{font-family:montserrat, sans-serif;overflow-x:hidden;word-wrap:break-word;}
.font-weight-bold{font-weight:600!important;}
.font-weight-bolder{font-weight:700!important;}
.font-weight-strong{font-weight:800!important;}
.font-weight-light{font-weight:400!important;}
.text-white{color:white;}
.purpleIcons{color:var(--primary);}
.cardOutlineRoxo{border-style:solid;border-width:3px 3px 3px 3px;border-color:#D257C4;border-radius:11px 11px 11px 11px;box-shadow:0px 0px 10px 0px #D257C4;}
.cardIcons{width:30%!important;}
.lh-1-5{line-height:70px;}
#section1{background-image:url('../assets/background_desktop_section1.webp');background-position:bottom -120px center;background-repeat:no-repeat;background-size:cover;}
#section2{background-image:url('../assets/background_2.webp');background-position:top center;background-repeat:no-repeat;background-size:cover;}
#section4_1{background-image:url('../assets/background_section4_1_dktp.webp');background-position:top -275px center;background-repeat:no-repeat;background-size:cover;}
#section4_2{background-image:url('../assets/background_section4_2_dktp.webp');background-position:top -310px center;background-repeat:no-repeat;background-size:cover;}
#section3e5{background-image:url('../assets/background_section_6.webp');background-position:bottom center;background-repeat:no-repeat;background-size:cover;}
#textDataSection6{color:white;}
#btnParticipar{padding:20px 40px;background-color:var(--greenParticipar);border-radius:11px 11px 11px 11px;color:white;font-weight:800!important;font-size:2.2em;}
#rowSection1{padding-top:0%;}
#rowSection4_1{padding-top:0%;}
#rowSection4_2{padding-top:0%;}
.marginSection1Desktop{margin-top:16%;}
.marginCardDesktop{margin-left:15px;margin-right:15px;}
.colListaProfissoes{display:flex;justify-content:start;}
.colCardListaProfissoes{min-width:400px!important;}
.textGiant{font-family:"Helvetica", Sans-serif!important;font-size:3.5em;}
.textLarge{font-family:"Helvetica", Sans-serif!important;font-size:3.2em;}
.textBigger{font-size:1.5em;}
.textNormal{font-size:1.3em;}
.textCardIcons{font-size:1.2em;}
.textSmall{font-size:1.18em;}
.textExtraSmall{font-size:1.13em;}
.textTituloModal{font-size:2.4em;}
.colJulianaDesktop{margin-top:1%!important;}
.colClaudiaDesktop{margin-top:3%!important;margin-bottom:4%;}
.alignTextClaudia{text-align:right;}
.alignTextJuliana{text-align:left;}
.logoSectionFinal{width:80%!important;}
.btnParticiparInicial{font-size:1.9em!important;}
#btnParticipar{box-shadow:0px 0px 0px 0px;background:linear-gradient(270deg, #1deb49, #008c1e, #008c1e, #1deb49, #008c1e );background-size:400% 400%;-webkit-animation:Animation 5s ease infinite;-moz-animation:Animation 5s ease infinite;animation:Animation 5s ease infinite;}
/*! CSS Used from: ../css/form.css */
.modal{display:none;position:fixed;z-index:1;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.623);}
.modal_content{background-color:rgb(0, 0, 0);position:absolute;top:20%;left:30%;width:40%;padding:20px;border-radius:5px;border:2px solid black;}
.close{font-size:20px;color:white;float:right;}
.close:hover{color:white;cursor:pointer;}
#_form_51_submit{width:100%;padding:20px 40px;background-color:var(--primary);border-radius:5px 5px 5px 5px;color:white;font-weight:800!important;font-size:1.3em;}
.inputFormActive{border-color:#D257C4!important;border-width:1px 1px 1px 1px!important;border-radius:6px 6px 6px 6px!important;}
/*! CSS Used from: ../vendor/bootstrap/css/bootstrap.min.css */
:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));}
*,::after,::before{box-sizing:border-box;}
@media (prefers-reduced-motion:no-preference){
:root{scroll-behavior:smooth;}
}
body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
a{color:#0d6efd;text-decoration:underline;}
a:hover{color:#0a58ca;}
img{vertical-align:middle;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
[type=submit],button{-webkit-appearance:button;}
[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer;}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5);}
.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.col-1{flex:0 0 auto;width:8.33333333%;}
.col-2{flex:0 0 auto;width:16.66666667%;}
.col-8{flex:0 0 auto;width:66.66666667%;}
.col-10{flex:0 0 auto;width:83.33333333%;}
@media (min-width:576px){
.col-sm-1{flex:0 0 auto;width:8.33333333%;}
.col-sm-2{flex:0 0 auto;width:16.66666667%;}
.col-sm-3{flex:0 0 auto;width:25%;}
.col-sm-6{flex:0 0 auto;width:50%;}
.col-sm-8{flex:0 0 auto;width:66.66666667%;}
.col-sm-10{flex:0 0 auto;width:83.33333333%;}
}
@media (min-width:768px){
.col-md-1{flex:0 0 auto;width:8.33333333%;}
.col-md-2{flex:0 0 auto;width:16.66666667%;}
.col-md-3{flex:0 0 auto;width:25%;}
.col-md-4{flex:0 0 auto;width:33.33333333%;}
.col-md-6{flex:0 0 auto;width:50%;}
.col-md-8{flex:0 0 auto;width:66.66666667%;}
.col-md-10{flex:0 0 auto;width:83.33333333%;}
}
@media (min-width:992px){
.col-lg-1{flex:0 0 auto;width:8.33333333%;}
.col-lg-2{flex:0 0 auto;width:16.66666667%;}
.col-lg-3{flex:0 0 auto;width:25%;}
.col-lg-4{flex:0 0 auto;width:33.33333333%;}
.col-lg-5{flex:0 0 auto;width:41.66666667%;}
.col-lg-6{flex:0 0 auto;width:50%;}
.col-lg-8{flex:0 0 auto;width:66.66666667%;}
}
.form-control{display:block;width:100%;padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.form-control{transition:none;}
}
.form-control:focus{color:#212529;background-color:#fff;border-color:#86b7fe;outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.form-control::placeholder{color:#6c757d;opacity:1;}
.form-control:disabled{background-color:#e9ecef;opacity:1;}
.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#212529;}
.btn:focus{outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);}
.btn:disabled{pointer-events:none;opacity:.65;}
.card-img{width:100%;}
.card-img{border-top-left-radius:calc(.25rem - 1px);border-top-right-radius:calc(.25rem - 1px);}
.card-img{border-bottom-right-radius:calc(.25rem - 1px);border-bottom-left-radius:calc(.25rem - 1px);}
.modal{position:fixed;top:0;left:0;z-index:1060;display:none;width:100%;height:100%;overflow-x:hidden;overflow-y:auto;outline:0;}
.d-inline-flex{display:inline-flex!important;}
.justify-content-end{justify-content:flex-end!important;}
.justify-content-center{justify-content:center!important;}
.align-items-center{align-items:center!important;}
.mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:1rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mt-5{margin-top:3rem!important;}
.mb-2{margin-bottom:.5rem!important;}
.mb-3{margin-bottom:1rem!important;}
.mb-4{margin-bottom:1.5rem!important;}
.mb-5{margin-bottom:3rem!important;}
.p-2{padding:.5rem!important;}
.p-3{padding:1rem!important;}
.p-5{padding:3rem!important;}
.text-center{text-align:center!important;}
.text-white{color:#fff!important;}
/*! CSS Used from: ../css/responsividade.css */
@media (max-width: 1639px){
#section1{background-position:top 0px center;}
#section4_1{background-position:top 0 center;}
#section4_2{background-position:top 0 center;}
}
@media (max-width: 920px){
#rowSection1{padding-top:58%;}
#rowSection4_1{padding-top:55%;}
#rowSection4_2{padding-top:46%;}
#section1{background-image:url('../assets/background_mobile_section1.webp');background-position:top 0 center;}
#section4_1{background-image:url('../assets/background_section4_1.webp');background-position:top -52px center;}
#section4_2{background-image:url('../assets/background_section4_2.webp');background-position:top -52px center;}
.colListaProfissoes{display:block;}
.colCardListaProfissoes{min-width:unset!important;}
.colJulianaDesktop{margin-top:unset;}
.colClaudiaDesktop{margin-top:unset;margin-bottom:unset;}
.alignTextClaudia{text-align:center;}
.alignTextJuliana{text-align:center;}
.lh-1-5{line-height:normal;}
}
@media (max-width: 768px){
.textGiant{font-size:2.2em;}
.textLarge{font-size:1.7em;}
.textBigger{font-size:1.3em;}
.textNormal{font-size:1.2em;}
.textSmall{font-size:1.1em;}
.textExtraSmall{font-size:1em;}
.btnParticiparInicial{font-size:1.5em!important;}
.textTituloModal{font-size:1.5em;}
.btnParticiparInicial{font-size:1em!important;}
.textCardIcons{font-size:0.8em;}
.cardIcons{width:50%!important;}
}
@media (max-width: 600px){
.cardIcons{width:25%!important;}
.marginCardDesktop{margin-left:0px;margin-right:0px;}
#section4_1{background-position:top 0px center;}
#section4_2{background-position:top -20px center;}
.removeMbMobile{margin-bottom:0%!important;}
.hideMobile{display:none;}
.logoSection1Mobile {width: 80% !important;}
.marginTopSecao5Mobile{margin-top:0%!important;}
.textGiant{font-size:2em;}
.textLarge{font-size:1.5em;}
.textBigger{font-size:1.1em;}
.textNormal{font-size:1em;}
.textSmall{font-size:0.9em;}
.textExtraSmall{font-size:0.8em;}
.btnParticiparInicial{font-size:1.5em!important;}
.textTituloModal{font-size:1.5em;}
.btnParticiparInicial{font-size:1em!important;}
.modal_content{top:5%;left:unset;width:100%;padding:20px;}
}
@media (max-width: 400px){
#btnParticipar{font-size:1.5em;}
}
/*! CSS Used from: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css */
.far,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;}
.fa-calendar-check:before{content:"\f274";}
.fa-check:before{content:"\f00c";}
.far{font-weight:400;}
.far,.fas{font-family:"Font Awesome 5 Free";}
.fas{font-weight:900;}
/*! CSS Used keyframes */
@keyframes Animation{0%{background-position:0% 50%;}50%{background-position:100% 50%;}100%{background-position:0% 50%;}}
/*! CSS Used fontfaces */
@font-face{font-family:montserrat;src:url('../fonts/montserrat/Montserrat-Light.ttf');font-weight:300;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../fonts/montserrat/Montserrat-Regular.ttf');font-weight:400;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../fonts/montserrat/Montserrat-Medium.ttf');font-weight:500;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../fonts/montserrat/Montserrat-SemiBold.ttf');font-weight:600;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../fonts/montserrat/Montserrat-Bold.ttf');font-weight:700;font-style:normal;font-display:swap;}
@font-face{font-family:montserrat;src:url('../fonts/montserrat/Montserrat-ExtraBold.ttf');font-weight:800;font-style:normal;font-display:swap;}
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:400;font-display:auto;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-regular-400.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-regular-400.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-regular-400.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-regular-400.ttf) format("truetype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-regular-400.svg#fontawesome) format("svg");}
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;font-display:auto;src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-solid-900.eot);src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-solid-900.woff2) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-solid-900.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-solid-900.ttf) format("truetype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-solid-900.svg#fontawesome) format("svg");}